{% extends "base.html" %}
{% block page_content %}
<h2>Task post</h2>
  <form action="{{ url_for('manager') }}" method="post">
    <div class="form-group">
        <input class="form-control" type="text" name="taskname" placeholder="Name of this task?">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="limittime" placeholder="How many days do this task due?">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="payback" placeholder="How much could this task pay?">
    </div>
    <button class="btn btn-default" type="submit">Post</button>
  </form>
  <form action="{{ url_for('result') }}" method="get">
    <button class="btn btn-default" type="submit">Result</button>
  </form>
  {% for post in timeline %}
    <li class="tweet">
      {{ post.username   }} at {{ post.time }} :
      {{ post.taskname }}
    </li>
  {% endfor %}
{% endblock %}
